* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: News Gothic Light;
    src: url("/assets/fonts/News\ Gothic\ Light.otf");
}

@font-face {
    font-family: Barlow Semi Condensed;
    src: url("/assets/fonts/Barlow\ Semi\ Condensed.ttf");
}

@font-face {
    font-family: TT Rounds Neue;
    src: url("/assets/fonts/TT\ Rounds\ Neue.ttf");
}

/* ---------- Header Start ---------- */

header #Covid-19 {
    font-family: News Gothic Light;
    background-color: #233A95;
    height: 35px;
    color: white;
    text-align: center;
    padding-top: 9px;
}

header #Covid-19 h5 {
    font-weight: 100;
}

/* ---------- Nav Part1 Start ---------- */

header nav .Part1 {
    height: 45px;
    border-bottom: 1px rgb(209, 209, 209) solid;
}

header nav .Part1 .Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: News Gothic Light;
    width: 1185px;
    margin: auto;
}

header nav .Part1 .Flex .LeftSideBar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    padding-top: 12px;
    height: 45px;
}

header nav .Part1 .Flex .LeftSideBar li a {
    text-decoration: none;
    color: #3E445A;
    font-size: 13px;
    transition-duration: 250ms;
}

header nav .Part1 .Flex .LeftSideBar li a:hover {
    color: #57C4F9;
}

header nav .Part1 .Flex .Guarantee {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-top: 8px;
    height: 45px;
}

header nav .Part1 .Flex .Guarantee img {
    position: relative;
    right: 10px;
    bottom: 4px;
    width: 35px;
}

header nav .Part1 .Flex .Guarantee h5 {
    font-weight: 100;
    color: #3E445A;
    padding-top: 5px;
}

header nav .Part1 .Flex .Guarantee span {
    opacity: 0.3;
    padding-left: 20px;
    padding-top: 3px;
}

header nav .Part1 .Flex .Help {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 230px;
    height: 45px;
}

header nav .Part1 .Flex .Help h5 {
    font-weight: 100;
    color: #3E445A;
    margin-top: 14px;
}

header nav .Part1 .Flex .Help span {
    color: #2BBEF9;
    font-weight: bold;
    cursor: pointer;
    height: fit-content;
    margin-top: 13px;
    margin-right: 10px;
}

header nav .Part1 .Flex .Help span:hover {
    text-decoration: underline;
}

header nav .Part1 .Flex .Help p {
    opacity: 0.3;
    margin-top: 12px;
}

header nav .Part1 .Flex .CaC {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 140px;
    padding-top: 10px;
}

header nav .Part1 .Flex .CaC .Menu {
    display: flex;
    color: #3E445A;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    transition-duration: 250ms;
    position: relative;
    bottom: 10px;
    padding-top: 13px;
}

header nav .Part1 .Flex .CaC .Menu .Chevron {
    font-size: x-small;
    padding-top: 3px;
}

header nav .Part1 .Flex .CaC .Menu:hover {
    color: #2BBEF9;
}

header nav .Part1 .Flex .CaC .Country {
    width: 60px;
    height: 45px;
}

header nav .Part1 .Flex .CaC .Currency {
    width: 45px;
}

header nav .Part1 .Flex .CaC .CountrySideBar {
    width: 110px;
    height: 135px;
    position: relative;
    bottom: 10px;
    right: 27px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    z-index: 1;
}

header nav .Part1 .Flex .CaC .CountrySideBar ul {
    list-style: none;
    color: black;
    text-align: center;
}

header nav .Part1 .Flex .CaC .CountrySideBar ul li {
    padding-top: 20px;
    cursor: pointer;
    transition-duration: 250ms;
}

header nav .Part1 .Flex .CaC .CountrySideBar ul li:hover {
    color: #57C4F9;
}

header nav .Part1 .Flex .CaC .CurrencySideBar {
    width: 90px;
    height: 135px;
    position: relative;
    bottom: 10px;
    left: 73px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    z-index: 1;
}

header nav .Part1 .Flex .CaC .CurrencySideBar ul {
    list-style: none;
    color: black;
    text-align: center;
}

header nav .Part1 .Flex .CaC .CurrencySideBar ul li {
    padding-top: 20px;
    cursor: pointer;
    transition-duration: 250ms;
}

header nav .Part1 .Flex .CaC .CurrencySideBar ul li:hover {
    color: #57C4F9;
}

/* ---------- Nav Part1 End ---------- */



/* ---------- Nav Part2 Start ---------- */

header nav .Part2 {
    font-family: News Gothic Light;
    position: relative;
    top: 25px;
}

header nav .Part2 .Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

header nav .Part2 .Flex .Logo {
    display: inline-block;
    margin-right: 45px;
}

header nav .Part2 .Flex .Logo a {
    text-decoration: none;
}

header nav .Part2 .Flex .Logo h6 {
    color: gray;
    opacity: 0.5;
    text-align: center;
    font-size: 12px;
}

header nav .Part2 .Flex .Location {
    border: 0.5px solid rgb(209, 209, 209);
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    width: 170px;
    height: 65px;
    transition-duration: 300ms;
}

header nav .Part2 .Flex .Location:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

header nav .Part2 .Flex .Location h6 {
    color: gray;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 10px;
}

header nav .Part2 .Flex .Location h5 {
    color: #233A95;
    margin-left: 20px;
    margin-top: 5px;
}

header nav .Part2 .Flex .Location .Chevron {
    color: #233A95;
    font-size: small;
    left: 140px;
    bottom: 25px;
    position: relative;
}

header nav .Part2 .Flex .Search {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 15px;
}

header nav .Part2 .Flex .Search input {
    height: 60px;
    width: 555px;
    background-color: #F3F4F7;
    padding-left: 15px;
    border-width: 0;
    border-radius: 7px;
    font-size: 15px;
}

header nav .Part2 .Flex .Search input:focus {
    outline: none;
}

header nav .Part2 .Flex .Search input::placeholder {
    opacity: 0.8;
}

header nav .Part2 .Flex .Search .Glass {
    font-size: 22px;
    position: relative;
    right: 50px;
    top: 3px;
}

header nav .Part2 .Flex .Account {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

header nav .Part2 .Flex .Account span {
    position: relative;
    left: 6px;
}

header nav .Part2 .Flex .Account h4 {
    position: relative;
    right: 4px;
}

header nav .Part2 .Flex .Account .Basket {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
    color: #EA2B0F;
    background-color: #FFF1EE;
    position: relative;
    left: 8px;
}

header nav .Part2 .Flex .Account sup {
    color: white;
    background-color: #EA2B0F;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    right: 16px;
    bottom: 12px;
    font-size: 12px;
    padding-top: 1px;
}

/* ---------- Nav Part2 End ---------- */



/* ---------- Nav Part3 Start ---------- */

header nav .Part3 {
    height: 70px;
    position: relative;
    top: 40px;
}

header nav .Part3 .Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1198px;
    margin-left: 350px;
    font-family: Barlow Semi Condensed;
}

header nav .Part3 .Flex .Categories {
    background-color: #2BBEF9;
    width: 212px;
    height: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 3px;
}

header nav .Part3 .Flex .Categories h4 {
    padding-right: 11px;
    padding-bottom: 2px;
}

header nav .Part3 .Flex .Categories .Chevron {
    font-size: small;
}

header nav .Part3 .Flex .Total {
    color: #717794;
    background-color: #EDEEF5;
    width: 103px;
    height: 17px;
    text-align: center;
    border-radius: 15px;
    padding-top: 1px;
    cursor: pointer;
    position: relative;
    right: 199px;
    top: 44px;
}

header nav .Part3 .Flex .Menu {
    display: inline-block;
}

header nav .Part3 .Flex .Menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    width: 830px;
}

header nav .Part3 .Flex .Menu ul li {
    height: 60px;
    margin-top: 10px;
}

header nav .Part3 .Flex .Menu ul li:hover .Border {
    color: #57C4F9;
    background-color: #F0FAFF;
}

header nav .Part3 .Flex .Menu ul li .Border {
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    border-radius: 20px;
    transition-duration: 250ms;
    cursor: pointer;
}

header nav .Part3 .Flex .Menu ul li .Border {
    text-decoration: none;
    color: #3E445A;
    transition-duration: 250ms;
    display: inline-block;
}

header nav .Part3 .Flex .Menu ul li .Border .MenuIcons {
    position: relative;
    bottom: 1px;
    right: 1px;
    font-size: larger;
    margin-right: 10px;
}

header nav .Part3 .Flex .Menu ul li .Chevron {
    font-size: small;
    padding-left: 14px;
    position: relative;
    bottom: 2px;
}

header nav .Part3 .SideBars {
    font-family: TT Rounds Neue;
    font-size: 14px;
    z-index: 1;
    justify-content: space-between;
    width: 580px;
    position: relative;
    left: 354px;
    top: 1px;
}

header nav .Part3 .SideBars li {
    transition-duration: 250ms;
    color: #3E445A;
    cursor: pointer;
}

header nav .Part3 .SideBars .CategoriesBar {
    background-color: white;
    width: 275px;
    height: 500px;
    border-bottom: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 {
    list-style: none;
    padding-top: 20px;
    padding-left: 35px;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li {
    margin-top: 20px;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li:hover {
    color: #57C4F9;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li:hover .MenuIcons {
    color: #57C4F9;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li .MenuIcons {
    font-size: large;
    color: #9EA1AC;
    transition-duration: 250ms;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li .Chevron1 {
    padding-left: 60px;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li .Chevron2 {
    padding-left: 110px;
}

header nav .Part3 .SideBars .CategoriesBar .UL2 {
    list-style: none;
    border-top: 1px rgb(209, 209, 209) solid;
    padding-left: 37px;
    position: relative;
    top: 40px;
    padding-top: 10px;
}

header nav .Part3 .SideBars .CategoriesBar .UL2 li {
    margin-top: 10px;
}

header nav .Part3 .SideBars .CategoriesBar .UL2 li:hover {
    color: #57C4F9;
}

header nav .Part3 .SideBars .CategoriesBar .UL3 {
    list-style: none;
    padding-left: 37px;
    position: relative;
    left: 273px;
    bottom: 435px;
    padding-top: 30px;
    height: 500px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    background-color: white;
    display: none;
}

header nav .Part3 .SideBars .CategoriesBar .UL3 li {
    margin-top: 10px;
}

header nav .Part3 .SideBars .CategoriesBar .UL3 li:hover {
    color: #57C4F9;
}

header nav .Part3 .SideBars .CategoriesBar .UL4 {
    list-style: none;
    padding-left: 37px;
    position: relative;
    left: 273px;
    bottom: 435px;
    padding-top: 30px;
    height: 500px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    background-color: white;
    display: none;
}

header nav .Part3 .SideBars .CategoriesBar .UL4 li {
    margin-top: 10px;
}

header nav .Part3 .SideBars .CategoriesBar .UL4 li:hover {
    color: #57C4F9;
}

header nav .Part3 .SideBars .HomeBar {
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    width: 200px;
    height: 220px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    left: 350px;
    bottom: 1px;
    display: none;
}

header nav .Part3 .SideBars .HomeBar ul {
    list-style: none;
    padding-top: 25px;
}

header nav .Part3 .SideBars .HomeBar ul li {
    margin-top: 10px;
}

header nav .Part3 .SideBars .HomeBar ul li a {
    color: #3E445A;
    text-decoration: none;
    transition-duration: 250ms;
    display: block;
    padding-left: 30px;
}

header nav .Part3 .SideBars .HomeBar ul li:hover a {
    color: #57C4F9;
}

header nav .Part3 .ShopBar {
    background-color: white;
    position: relative;
    height: 330px;
    width: 100%;
    z-index: 1;
    font-size: 14px;
    font-family: TT Rounds Neue;
    display: none;
    border-top: white 1px solid;
    border-bottom: 1px rgb(209, 209, 209) solid;
}

header nav .Part3 .ShopBar .Flex {
    display: flex;
    flex-wrap: wrap;
    width: 1075px;
    background-color: white;
    position: relative;
    margin: 30px auto;
    right: 40px;
}

header nav .Part3 .ShopBar .Flex ul {
    list-style: none;
}

header nav .Part3 .ShopBar .Flex ul li a {
    text-decoration: none;
    display: block;
    color: #3E445A;
    transition-duration: 250ms;
    position: relative;
    height: 30px;
    padding-top: 5px;
}

header nav .Part3 .ShopBar .Flex ul li .Title {
    color: #233A95;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    padding-top: 10px;
}

header nav .Part3 .ShopBar .Flex ul:hover .Title {
    color: #2BBEF9;
}

header nav .Part3 .ShopBar .Flex ul li:hover a {
    color: #2BBEF9;
}

/* ---------- Nav Part3 End ---------- */

/* ---------- Header End ---------- */



/* ---------- Form Start ---------- */

#Form {
    border-top: 1px rgb(209, 209, 209) solid;
    position: relative;
    top: 40px;
    height: 580px;
}

#Form .Link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 110px;
    font-family: Barlow Semi Condensed;
    font-size: 17px;
    align-items: center;
    position: relative;
    top: 15px;
    left: 350px;
}

#Form .Link .Home {
    text-decoration: none;
    color: #3E445A;
}

#Form .Link .Home:hover {
    text-decoration: underline;
}

#Form .Link i {
    font-size: x-small;
    color: #9B9BB4;
}

#Form .Link .MyAccount {
    color: #9B9BB4;
}

#Form .Flex {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    top: 70px;
}

#Form .Login {
    width: 585px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

#Form .Login .Title {
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 35px;
}

#Form .Login .Title h4 {
    font-family: Barlow Semi Condensed;
    color: #202435;
}

#Form .Login .Email {
    display: inline-block;
}

#Form .Login .Email h5 {
    font-family: News Gothic Light;
    font-weight: lighter;
    color: #202435;
}

#Form .Login .EmailInput {
    height: 45px;
    background-color: #F3F4F7;
    padding-left: 15px;
    border: 0;
    border-radius: 5px;
}

#Form .Login .EmailInput:focus {
    outline: none;
}

#Form .Login .Password {
    display: inline-block;
}

#Form .Login .Password h5 {
    font-family: News Gothic Light;
    font-weight: lighter;
    color: #202435;
}

#Form .Login .PasswordInput {
    height: 45px;
    background-color: #F3F4F7;
    padding-left: 15px;
    border: 0;
    border-radius: 5px;
}

#Form .Login .PasswordInput:focus {
    outline: none;
}

#Form .Login .Remember {
    display: flex;
    flex-wrap: wrap;
    width: 105px;
    justify-content: space-between;
    align-items: center;
}

#Form .Login .Remember h5 {
    font-family: News Gothic Light;
    font-weight: lighter;
    color: #202435;
}

#Form .Login .Submit {
    width: 80px;
    height: 40px;
    background-color: #233A95;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: TT Rounds Neue;
    font-size: 16px;
    cursor: pointer;
}

#Form .Login .Lost {
    width: fit-content;
}

#Form .Login .Lost a {
    color: #2BBEF9;
    text-decoration: none;
    display: inline-block;
    font-family: News Gothic Light;
}

#Form .Login .Lost:hover a {
    color: #233A95;
    text-decoration: underline;
}

#Form .Register {
    width: 585px;
    height: 323px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

#Form .Register .Title {
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 35px;
}

#Form .Register .Title h4 {
    font-family: Barlow Semi Condensed;
    color: #202435;
}

#Form .Register .Email {
    display: inline-block;
}

#Form .Register .Email h5 {
    font-family: News Gothic Light;
    font-weight: lighter;
    color: #202435;
}

#Form .Register .EmailInput {
    height: 45px;
    background-color: #F3F4F7;
    padding-left: 15px;
    border: 0;
    border-radius: 5px;
}

#Form .Register .EmailInput:focus {
    outline: none;
}

#Form .Register .Password {
    display: inline-block;
}

#Form .Register .Password h5 {
    font-family: News Gothic Light;
    font-weight: lighter;
    color: #202435;
}

#Form .Register .PasswordInput {
    height: 45px;
    background-color: #F3F4F7;
    padding-left: 15px;
    border: 0;
    border-radius: 5px;
}

#Form .Register .PasswordInput:focus {
    outline: none;
}

#Form .Register .Privacy {
    width: 485px;
}

#Form .Register .Privacy h5 {
    font-family: News Gothic Light;
    font-weight: lighter;
    color: #202435;
}

#Form .Register .Privacy h5 a {
    color: #ED174A;
}

#Form .Register .Submit {
    width: 100px;
    height: 40px;
    background-color: #233A95;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: TT Rounds Neue;
    font-size: 16px;
    cursor: pointer;
}

/* ---------- Form End ---------- */



/* ---------- Newsletter Start ---------- */

#Newsletter {
    height: 340px;
    background-color: #233A95;
}

#Newsletter .Left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 520px;
    height: 200px;
    position: relative;
    left: 310px;
    top: 70px;
}

#Newsletter .Left .Title {
    font-family: News Gothic Light;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
}

#Newsletter .Left .Title h4 {
    font-weight: 100;
    color: white;
}

#Newsletter .Left .Title h2 {
    color: white;
    padding-bottom: 15px;
}

#Newsletter .Left .Title h5 {
    color: #919CCA;
    width: 270px;
    font-weight: 100;
}

#Newsletter .Left form .Letter {
    color: #C2C2D3;
    position: relative;
    left: 20px;
    top: 1px;
    z-index: 1;
}

#Newsletter .Left form .Email {
    height: 55px;
    width: 400px;
    padding-left: 45px;
    border-radius: 5px;
    border: 0;
    position: relative;
    right: 18px;
}

#Newsletter .Left form .Email::placeholder {
    color: gray;
}

#Newsletter .Left form .Email:focus {
    outline: none;
}

#Newsletter .Left form .Submit {
    width: 90px;
    height: 47px;
    color: white;
    background-color: #233A95;
    border: 0;
    border-radius: 5px;
    position: relative;
    right: 118px;
    cursor: pointer;
}

#Newsletter .Right {
    position: relative;
    left: 900px;
    bottom: 137px;
    display: inline-block;
}

/* ---------- Newsletter End ---------- */



/* ---------- Prefooter Start ---------- */

#Prefooter {
    background-color: #F7F8FD;
    height: 620px;
}

#Prefooter .Pluses {
    font-family: News Gothic Light;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Prefooter .Pluses .Plus {
    color: #3E445A;
    height: 80px;
    width: 285px;
    text-align: center;
    padding-top: 30px;
}

#Prefooter .Pluses .Plus .Icon {
    font-size: larger;
}

#Prefooter .Pluses .Plus h5 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#Prefooter .Pluses .Plus1 {
    border-bottom: 1px rgb(209, 209, 209) solid;
    border-right: 1px rgb(209, 209, 209) solid;
}

#Prefooter .Pluses .Plus2 {
    border-bottom: 1px rgb(209, 209, 209) solid;
    border-right: 1px rgb(209, 209, 209) solid;
}

#Prefooter .Pluses .Plus3 {
    border-bottom: 1px rgb(209, 209, 209) solid;
    border-right: 1px rgb(209, 209, 209) solid;
}

#Prefooter .Pluses .Plus4 {
    border-bottom: 1px rgb(209, 209, 209) solid;
}

#Prefooter .List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1120px;
    margin: 0 auto;
    position: relative;
    top: 125px;
}

#Prefooter .List ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}

#Prefooter .List .UL1 {
    height: 200px;
}

#Prefooter .List .UL2 {
    height: 250px;
}

#Prefooter .List .UL3 {
    height: 280px;
}

#Prefooter .List .UL4 {
    height: 280px;
}

#Prefooter .List .UL5 {
    height: 250px;
}

#Prefooter .List ul li {
    display: inline-block;
    font-size: small;
}

#Prefooter .List ul li a {
    text-decoration: none;
    color: #71778E;
    font-family: News Gothic Light;
}

#Prefooter .List ul .Title {
    padding-bottom: 15px;
    font-family: TT Rounds Neue;
}

/* ---------- Prefooter End ---------- */



/* ---------- Footer Start ---------- */

footer {
    height: 200px;
    font-family: News Gothic Light;
}

footer .Part1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1210px;
    margin: 0 auto;
    position: relative;
    top: 25px;
}

footer .Part1 .Phone {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    height: 55px;
    justify-content: space-between;
}

footer .Part1 .Phone i {
    width: 45px;
    height: 45px;
    color: #3E445A;
    border-radius: 50%;
    border: 1px solid rgb(209, 209, 209);
    padding-left: 14px;
    padding-top: 12px;
    font-size: large;
    transform: rotate(-45deg);
    position: relative;
    top: 6px;
}

footer .Part1 .Phone h3 {
    padding-top: 7px;
    color: #3E445A;
}

footer .Part1 .Phone h6 {
    color: #8F919A;
    font-weight: 100;
    position: relative;
    left: 61px;
    bottom: 8px;
}

footer .Download {
    text-align: right;
    display: inline-block;
    position: relative;
    left: 225px;
}

footer .Download h6 {
    color: #8F919A;
    font-weight: 100;
    padding-top: 3px;
}

footer .Part1 .Media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 370px;
}

footer .Part1 .Media .Store {
    display: inline-block;
}

footer .Part1 .Media .Store img {
    position: relative;
    top: 2px;
}

footer .Part1 .Media .Social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 127px;
}

footer .Part1 .Media .Social a {
    border-radius: 50%;
}

footer .Part1 .Media .Social .Icon {
    color: #233A95;
}

footer .Part1 .Media .Social .Facebook {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid rgb(209, 209, 209);
    padding-top: 7px;
    padding-left: 12px ;
}

footer .Part1 .Media .Social .Twitter {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid rgb(209, 209, 209);
    padding-top: 8px;
    padding-left: 10px ;
}

footer .Part1 .Media .Social .Instagram {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid rgb(209, 209, 209);
    padding-top: 8px;
    padding-left: 11px ;
}

footer .Part2 {
    border-top: 1px solid rgb(209, 209, 209);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1230px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    top: 60px;
}

footer .Part2 .Copyright {
    color: #8F919A;
    display: inline-block;
}

footer .Part2 .Policy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 270px;
    position: relative;
    left: 45px;
}

footer .Part2 .Policy a {
    text-decoration: none;
    color: #8F919A;
}

footer .Part2 .Policy a:hover {
    text-decoration: underline;
}

footer .Part2 .Payment {
    display: inline-block;
}

/* ---------- Footer End ---------- */