* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: News Gothic Light;
    src: url("/assets/fonts/News\ Gothic\ Light.otf");
}

@font-face {
    font-family: Barlow Semi Condensed;
    src: url("/assets/fonts/Barlow\ Semi\ Condensed.ttf");
}

@font-face {
    font-family: TT Rounds Neue;
    src: url("/assets/fonts/TT\ Rounds\ Neue.ttf");
}

/* ---------- Header Start ---------- */

header #Covid-19 {
    font-family: News Gothic Light;
    background-color: #233A95;
    height: 35px;
    color: white;
    text-align: center;
    padding-top: 9px;
}

header #Covid-19 h5 {
    font-weight: 100;
}

/* ---------- Nav Part1 Start ---------- */

header nav .Part1 {
    height: 45px;
    border-bottom: 1px rgb(209, 209, 209) solid;
}

header nav .Part1 .Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: News Gothic Light;
    width: 1185px;
    margin: auto;
}

header nav .Part1 .Flex .LeftSideBar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    padding-top: 12px;
    height: 45px;
}

header nav .Part1 .Flex .LeftSideBar li a {
    text-decoration: none;
    color: #3E445A;
    font-size: 13px;
    transition-duration: 250ms;
}

header nav .Part1 .Flex .LeftSideBar li a:hover {
    color: #57C4F9;
}

header nav .Part1 .Flex .Guarantee {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-top: 8px;
    height: 45px;
}

header nav .Part1 .Flex .Guarantee img {
    position: relative;
    right: 10px;
    bottom: 4px;
    width: 35px;
}

header nav .Part1 .Flex .Guarantee h5 {
    font-weight: 100;
    color: #3E445A;
    padding-top: 5px;
}

header nav .Part1 .Flex .Guarantee span {
    opacity: 0.3;
    padding-left: 20px;
    padding-top: 3px;
}

header nav .Part1 .Flex .Help {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 230px;
    height: 45px;
}

header nav .Part1 .Flex .Help h5 {
    font-weight: 100;
    color: #3E445A;
    margin-top: 14px;
}

header nav .Part1 .Flex .Help span {
    color: #2BBEF9;
    font-weight: bold;
    cursor: pointer;
    height: fit-content;
    margin-top: 13px;
    margin-right: 10px;
}

header nav .Part1 .Flex .Help span:hover {
    text-decoration: underline;
}

header nav .Part1 .Flex .Help p {
    opacity: 0.3;
    margin-top: 12px;
}

header nav .Part1 .Flex .CaC {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 140px;
    padding-top: 10px;
}

header nav .Part1 .Flex .CaC .Menu {
    display: flex;
    color: #3E445A;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    transition-duration: 250ms;
    position: relative;
    bottom: 10px;
    padding-top: 13px;
}

header nav .Part1 .Flex .CaC .Menu .Chevron {
    font-size: x-small;
    padding-top: 3px;
}

header nav .Part1 .Flex .CaC .Menu:hover {
    color: #2BBEF9;
}

header nav .Part1 .Flex .CaC .Country {
    width: 60px;
    height: 45px;
}

header nav .Part1 .Flex .CaC .Currency {
    width: 45px;
}

header nav .Part1 .Flex .CaC .CountrySideBar {
    width: 110px;
    height: 135px;
    position: relative;
    bottom: 10px;
    right: 27px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    z-index: 1;
}

header nav .Part1 .Flex .CaC .CountrySideBar ul {
    list-style: none;
    color: black;
    text-align: center;
}

header nav .Part1 .Flex .CaC .CountrySideBar ul li {
    padding-top: 20px;
    cursor: pointer;
    transition-duration: 250ms;
}

header nav .Part1 .Flex .CaC .CountrySideBar ul li:hover {
    color: #57C4F9;
}

header nav .Part1 .Flex .CaC .CurrencySideBar {
    width: 90px;
    height: 135px;
    position: relative;
    bottom: 10px;
    left: 73px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    z-index: 1;
}

header nav .Part1 .Flex .CaC .CurrencySideBar ul {
    list-style: none;
    color: black;
    text-align: center;
}

header nav .Part1 .Flex .CaC .CurrencySideBar ul li {
    padding-top: 20px;
    cursor: pointer;
    transition-duration: 250ms;
}

header nav .Part1 .Flex .CaC .CurrencySideBar ul li:hover {
    color: #57C4F9;
}

/* ---------- Nav Part1 End ---------- */



/* ---------- Nav Part2 Start ---------- */

header nav .Part2 {
    font-family: News Gothic Light;
    position: relative;
    top: 25px;
}

header nav .Part2 .Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

header nav .Part2 .Flex .Logo {
    display: inline-block;
    margin-right: 45px;
}

header nav .Part2 .Flex .Logo a {
    text-decoration: none;
}

header nav .Part2 .Flex .Logo h6 {
    color: gray;
    opacity: 0.5;
    text-align: center;
    font-size: 12px;
}

header nav .Part2 .Flex .Location {
    border: 0.5px solid rgb(209, 209, 209);
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    width: 170px;
    height: 65px;
    transition-duration: 300ms;
}

header nav .Part2 .Flex .Location:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

header nav .Part2 .Flex .Location h6 {
    color: gray;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 10px;
}

header nav .Part2 .Flex .Location h5 {
    color: #233A95;
    margin-left: 20px;
    margin-top: 5px;
}

header nav .Part2 .Flex .Location .Chevron {
    color: #233A95;
    font-size: small;
    left: 140px;
    bottom: 25px;
    position: relative;
}

header nav .Part2 .Flex .Search {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 15px;
}

header nav .Part2 .Flex .Search input {
    height: 60px;
    width: 555px;
    background-color: #F3F4F7;
    padding-left: 15px;
    border-width: 0;
    border-radius: 7px;
    font-size: 15px;
}

header nav .Part2 .Flex .Search input:focus {
    outline: none;
}

header nav .Part2 .Flex .Search input::placeholder {
    opacity: 0.8;
}

header nav .Part2 .Flex .Search .Glass {
    font-size: 22px;
    position: relative;
    right: 50px;
    top: 3px;
}

header nav .Part2 .Flex .Account {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

header nav .Part2 .Flex .Account a {
    display: inline-block;
    text-decoration: none;
}

header nav .Part2 .Flex .Account span {
    position: relative;
    left: 6px;
}

header nav .Part2 .Flex .Account h4 {
    position: relative;
    right: 4px;
}

header nav .Part2 .Flex .Account .Basket {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
    color: #EA2B0F;
    background-color: #FFF1EE;
    position: relative;
    left: 8px;
}

header nav .Part2 .Flex .Account sup {
    color: white;
    background-color: #EA2B0F;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    right: 16px;
    bottom: 12px;
    font-size: 12px;
    padding-top: 1px;
}

/* ---------- Nav Part2 End ---------- */



/* ---------- Nav Part3 Start ---------- */

header nav .Part3 {
    height: 70px;
    position: relative;
    top: 40px;
}

header nav .Part3 .Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1198px;
    margin-left: 266px;
    font-family: Barlow Semi Condensed;
}

header nav .Part3 .Flex .Categories {
    background-color: #2BBEF9;
    width: 212px;
    height: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 3px;
}

header nav .Part3 .Flex .Categories h4 {
    padding-right: 11px;
    padding-bottom: 2px;
}

header nav .Part3 .Flex .Categories .Chevron {
    font-size: small;
}

header nav .Part3 .Flex .Total {
    color: #717794;
    background-color: #EDEEF5;
    width: 103px;
    height: 17px;
    text-align: center;
    border-radius: 15px;
    padding-top: 1px;
    cursor: pointer;
    position: relative;
    right: 199px;
    top: 44px;
}

header nav .Part3 .Flex .Menu {
    display: inline-block;
}

header nav .Part3 .Flex .Menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    width: 830px;
}

header nav .Part3 .Flex .Menu ul li {
    height: 60px;
    margin-top: 10px;
}

header nav .Part3 .Flex .Menu ul li:hover .Border {
    color: #57C4F9;
    background-color: #F0FAFF;
}

header nav .Part3 .Flex .Menu ul li .Border {
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    border-radius: 20px;
    transition-duration: 250ms;
    cursor: pointer;
}

header nav .Part3 .Flex .Menu ul li .Border {
    text-decoration: none;
    color: #3E445A;
    transition-duration: 250ms;
    display: inline-block;
}

header nav .Part3 .Flex .Menu ul li .Border .MenuIcons {
    position: relative;
    bottom: 1px;
    right: 1px;
    font-size: larger;
    margin-right: 10px;
}

header nav .Part3 .Flex .Menu ul li .Chevron {
    font-size: small;
    padding-left: 14px;
    position: relative;
    bottom: 2px;
}

header nav .Part3 .SideBars {
    font-family: TT Rounds Neue;
    font-size: 14px;
    z-index: 1;
    justify-content: space-between;
    width: 580px;
    position: relative;
    left: 270px;
    top: 1px;
}

header nav .Part3 .SideBars li {
    transition-duration: 250ms;
    color: #3E445A;
    cursor: pointer;
}

header nav .Part3 .SideBars .CategoriesBar {
    background-color: white;
    width: 275px;
    height: 500px;
    border-bottom: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 {
    list-style: none;
    padding-top: 20px;
    padding-left: 35px;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li {
    margin-top: 20px;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li:hover {
    color: #57C4F9;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li:hover .MenuIcons {
    color: #57C4F9;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li .MenuIcons {
    font-size: large;
    color: #9EA1AC;
    transition-duration: 250ms;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li .Chevron1 {
    padding-left: 60px;
}

header nav .Part3 .SideBars .CategoriesBar .UL1 li .Chevron2 {
    padding-left: 110px;
}

header nav .Part3 .SideBars .CategoriesBar .UL2 {
    list-style: none;
    border-top: 1px rgb(209, 209, 209) solid;
    padding-left: 37px;
    position: relative;
    top: 40px;
    padding-top: 10px;
}

header nav .Part3 .SideBars .CategoriesBar .UL2 li {
    margin-top: 10px;
}

header nav .Part3 .SideBars .CategoriesBar .UL2 li:hover {
    color: #57C4F9;
}

header nav .Part3 .SideBars .CategoriesBar .UL3 {
    list-style: none;
    padding-left: 37px;
    position: relative;
    left: 274px;
    bottom: 425px;
    padding-top: 30px;
    height: 500px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    background-color: white;
    display: none;
}

header nav .Part3 .SideBars .CategoriesBar .UL3 li {
    margin-top: 10px;
}

header nav .Part3 .SideBars .CategoriesBar .UL3 li:hover {
    color: #57C4F9;
}

header nav .Part3 .SideBars .CategoriesBar .UL4 {
    list-style: none;
    padding-left: 37px;
    position: relative;
    left: 274px;
    bottom: 425px;
    padding-top: 30px;
    height: 500px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    background-color: white;
    display: none;
}

header nav .Part3 .SideBars .CategoriesBar .UL4 li {
    margin-top: 10px;
}

header nav .Part3 .SideBars .CategoriesBar .UL4 li:hover {
    color: #57C4F9;
}

header nav .Part3 .SideBars .HomeBar {
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    width: 200px;
    height: 220px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    left: 350px;
    bottom: 1px;
    display: none;
}

header nav .Part3 .SideBars .HomeBar ul {
    list-style: none;
    padding-top: 25px;
}

header nav .Part3 .SideBars .HomeBar ul li {
    margin-top: 10px;
}

header nav .Part3 .SideBars .HomeBar ul li a {
    color: #3E445A;
    text-decoration: none;
    transition-duration: 250ms;
    display: block;
    padding-left: 30px;
}

header nav .Part3 .SideBars .HomeBar ul li:hover a {
    color: #57C4F9;
}

header nav .Part3 .ShopBar {
    background-color: white;
    position: relative;
    height: 330px;
    width: 100%;
    z-index: 1;
    font-size: 14px;
    font-family: TT Rounds Neue;
    display: none;
    border-top: white 1px solid;
    border-bottom: 1px rgb(209, 209, 209) solid;
}

header nav .Part3 .ShopBar .Flex {
    display: flex;
    flex-wrap: wrap;
    width: 1075px;
    background-color: white;
    position: relative;
    margin: 30px auto;
    right: 40px;
}

header nav .Part3 .ShopBar .Flex ul {
    list-style: none;
}

header nav .Part3 .ShopBar .Flex ul li a {
    text-decoration: none;
    display: block;
    color: #3E445A;
    transition-duration: 250ms;
    position: relative;
    height: 30px;
    padding-top: 5px;
}

header nav .Part3 .ShopBar .Flex ul li .Title {
    color: #233A95;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    padding-top: 10px;
}

header nav .Part3 .ShopBar .Flex ul:hover .Title {
    color: #2BBEF9;
}

header nav .Part3 .ShopBar .Flex ul li:hover a {
    color: #2BBEF9;
}

/* ---------- Nav Part3 End ---------- */

/* ---------- Header End ---------- */



/* ---------- Suuggestions Start ---------- */



/* ---------- Suuggestions End ---------- */

#Suggestions {
    height: 573px;
    width: 100%;
    border-top: 1px solid rgb(209, 209, 209);
    position: relative;
    top: 40px;
    background-color: #233A95;
    overflow: hidden;
}

#Suggestions .Images {
    width: 200%;
    height: 100%;
    display: flex;
}

#Suggestions .Images .Item {
    height: 100%;
    width: 50%;
}

#Suggestions .Images .Item a {
    display: inline-block;
}

#Suggestions .Left {
    position: absolute;
    color: #202435;
    top: 50%;
    left: 70px;
    cursor: pointer;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-left: 15px;
    padding-top: 12px;
}

#Suggestions .Right {
    position: absolute;
    color: #202435;
    top: 50%;
    right: 70px;
    cursor: pointer;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-left: 15px;
    padding-top: 12px;
}